<div class="row mt-5" style="width: 100%; margin-bottom:300px">
 <div style="width: 800px; margin:0 auto;">
   <div class="mx-auto" style="width: 2000px;">
    <h5>
      本当に退会しますか？
    </h5>
    <p5>
      退会すると,会員情報や
    </p5><br>
    <p5>
      これまでの購入履歴が閲覧できなくなります。
    </p5><br>
    <p5>
      退会する場合は、「退会する」をクリックしてください。
    </p5><br>
    <%= link_to '退会しない', customers_my_page_path, class: "btn col-sm-2 ari areare" %> 
    <%= link_to '退会する', customers_withdraw_path, method: :PATCH, class: "btn col-sm-2 ari areare" %>
   </div>
 </div>
</div>