<div class = "container">
  <div class = "row">
    <h3 class = "text-left mt-5"><span>商品編集</span></h3>
      <%# render 'error_message', item: @item %>
    <div class = "col-lg-3"></div>
    <div class = "col-lg-6 mt-5">
      <%= form_for @item, url:admin_item_path, method: :patch do |f| %>
        <%= render 'form', f: f %>
      <div class = "form text-center">
        <%= f.submit "変更を保存", class: "btn btn-primary col-lg-7" %>
      <% end %>
      </div>
    </div>
    <div class = "col-lg-3"></div>
  </div>
</div>