<div class="row mt-5" style="width: 100%; margin-bottom:300px">
 <div style="width: 800px; margin:0 auto;">
   <h4 class="mypage">
     注文履歴一覧
   </h4>
   <table class="table table-bordered mt-5 w-75">
      <therd>
        <tr class="t">
          <th>
            注文日
          </th>
          <th>
            配送先
          </th>
          <th>
            注文商品
          </th>
          <th>
            支払い金額
          </th>
          <th>
            ステータス
          </th>
          <th>
            注文詳細
          </th>
        </tr>
      </therd>
   </table>
