<div class="row mt-5" style="width: 100%; margin-bottom:300px">
 <div style="width: 800px; margin:0 auto;">
   <h4 class="mypage">
     注文履歴詳細
   </h4>
   <table class="table table-bordered mt-5 w-75">
      <therd>
        <tr class="t">
          <td>
            注文日
          </td>
          <td>
            配送先
          </td>
          <td>
            注文商品
          </td>
          <td>
            支払い金額
          </td>
          <td>
            ステータス
          </td>
          <td>
            注文詳細
          </td>
        </td>
      </therd>
   </table>