<div class = "container_sidebar">
  <span class="border border-dark">
    <div class = "text-center"><span>ジャンル検索</span></div>
  </span>
  <span class="border border-dark">
    <% genres.each do |genre| %>
      <%= genre.name %>
  </span>
</div>