<!--岡本さんが作成した顧客側のヘッダーコードです-->
<header>
  <nav class = "navbar navbar-expand-lg">
    <div class = "container">
      <a class = "navbar-brand" href = "/"><span>LOGO</span></a>
        <ul class = "navbar-nav ml-auto">
          <% if customer_signed_in? %>
            
          <% else %>
            
          <% end %>
        </ul>
    </div>
  </nav>
</header>